@import "../../../assets/styles/variables";

.boss-form {
  //background: $form-bg-color;
}

.form-container {
  margin: 0 8px;
}

.form-row {
  width: 100%;
  td:first-child:nth-last-child(1) {
    width: 100%;
  }
  td:first-child:nth-last-child(2),
  td:first-child:nth-last-child(2) ~ td {
    width: 50%;
  }
  td:first-child:nth-last-child(3),
  td:first-child:nth-last-child(3) ~ td {
    width: 33.3333%;
  }
}

.form-element {
  display: flex;
  flex: 1;
}