@import "assets/styles/variables";

body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $font-family;
}

body {
  background: $body-bg-color;
  color: $text-color;
}

a {
  color: $text-color;
  &:hover {
    color: #408BEA;
  }
}