$fa-font-path:"../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";

@import "assets/styles/variables";

body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $font-family;
}

body {
  background: $body-bg-color;
  color: $text-color;
}

a {
  color: $link-color;
  &:hover {
    color: $link-color-hover;
  }
}